.anchor-top {
  z-index: 50;
  width: 100%;
  height: 12rem;
  left: 0;
  top:  0;
  transition: top;
  transition-delay: 0.5s;
  -webkit-transition: 0.5s top;
}
  
  
.anchor-right {
    z-index: 50;
  width: 15.625rem;
  height: 100%;
  top: 0;
  right: 0;
  transition: right;
  transition-delay: 0.5s;
  -webkit-transition: 0.5s right;
}
  
.anchor-bottom {
  z-index: 50;
  width: 100%;
  height: 12rem;
  left: 0;
  bottom:  0;
  transition: bottom;
  transition-delay: 0.5s;
  -webkit-transition: 0.5s bottom;
}
  
.anchor-left {
  z-index: 50;
  width: 15.625rem;
  height: 100%;
  top: 0;
  left: 0;
  transition: left;
  transition-delay: 0.5s;
  -webkit-transition: 0.5s left;
}

