@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-small::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: inherit;
}
  
.scrollbar-medium::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: inherit;
}
  
.scrollbar-thumb::-webkit-scrollbar-thumb {
    background-color: #DB3A28;
}
.scrollbar-thumb::-webkit-scrollbar-track {
    background-color: #FEF3F2;
}



.item {
    align-items: center;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    width: 40px;
  }
  
  .disabled-page {
    color: #808e9b;
  }
  
  .active {
    border: solid 1px #808e9b;
    border-radius: 40px;
    color: #808e9b;
  }
  
  .break-me {
  }
  
.next {
    border-left: solid 1px #808e9b;
    font-size: 4px;
    height: 60px;
    position: absolute;
    right: 0;
    width: 150px;
}
  
  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}