@tailwind base;
@tailwind components;
@tailwind utilities;



.scrollbar-small::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: inherit;
}
  
.scrollbar-medium::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: inherit;
}
  
.scrollbar-thumb::-webkit-scrollbar-thumb {
    background-color: #DB3A28;
}
.scrollbar-thumb::-webkit-scrollbar-track {
    background-color: #FEF3F2;
}

.ctn-category .tooltip-category {
    color: #fff;
    z-index: 60;
    /* border: 1px solid ; */
    /* --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
}

.render ul {
    padding-left: 2em;
    list-style: disc;
}
.render ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2em;
}
.render hr {
    margin-top: 1rem/* 16px */;
    margin-bottom: 1rem/* 16px */;
}

.render p {
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}
.render h1 {
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.render h2 {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.render h3 {
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.render h4 {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.render h5 {
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.render h6 {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.render blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
