.Dropdown:hover .Arrow {
    transform: rotate(180deg) translateX(-0.5rem);
    transition: transform 0.4s ease ;
    transform-origin: center; 
  }

  .Dropdown .Arrow {
    transition: transform 0.4s ease; 
    transform: rotate(0deg);
  }